@import "tailwindcss";

@font-face {
  font-family: "Montserrat";
  font-weight: 100 900;
  font-style: normal, italic;
  src: url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}
